@import "./../../sass/index.scss";

.techno {
	max-width: 1392px;
	margin: 0 auto;
	@include media("within", "lg") {
		padding-right: 40px;
	}
}

.title {
	max-width: 1312px;
	margin: 0 auto 58px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-feature-settings: "tnum" on, "lnum" on;
	@include media("within", "lg") {
		padding: 0 40px;
	}
}

.list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
