@import "./../../sass/index.scss";

.form-wrap {
	position: relative;
	width: 640px;
	z-index: 10;
	@include media("within", "lg") {
		width: 464px;
	}

	@include media("within", "md") {
		width: 100%;
		padding: 0 28px;
	}
	@include media("max", "sm") {
		width: 100%;
		padding-top: 60px;
	}
}

.form {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	@include media("within", "md") {
		padding-bottom: 40px;
	}
}

.input-wrap {
	position: relative;
	max-width: 306px;
	width: 100%;
	height: 48px;
	margin-bottom: 32px;
	overflow: hidden;
	background: $gray5;
	@include media("within", "lg") {
		max-width: 216px;
	}

	@include media("within", "md") {
		width: calc(50% - 16px);
		max-width: unset;
	}
	@include media("max", "sm") {
		width: 100%;
		max-width: unset;
	}
	&.text {
		max-width: 100%;
		width: 100%;
		height: 144px;
		flex-grow: 1;
		margin-bottom: 20px;
	}
}

.inp {
	position: absolute;
	padding-left: 16px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0;
	outline: none;
	border: solid 1px $gray4;
	background: transparent;
	z-index: 3;
}

textarea.inp {
	padding-top: 16px;
}

.inp-placeholder {
	position: absolute;
	display: flex;
	height: 48px;
	align-items: center;
	padding-left: 16px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.footer {
	display: flex;
	justify-content: space-between;
	max-width: 640px;
	width: 100%;
	margin-bottom: 34px;
	@include media("within", "lg") {
		flex-flow: column wrap;
	}
	@include media("within", "md") {
		max-width: unset;
	}
	@include media("max", "sm") {
		flex-flow: column-reverse wrap;
	}
}

.license {
	display: flex;
	max-width: 390px;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #fff;
	@include media("within", "lg") {
		margin-bottom: 20px;
	}
	@include media("within", "md") {
	}
}

.checkb {
	width: 14px;
	margin-right: 14px;
}

.license-text {
	opacity: 0.7;
}

.attach {
	position: relative;
	width: 152px;
	height: 32px;
	padding-left: 20px;
	line-height: 32px;
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	background: $gray4;
	@include media("max", "sm") {
		width: 100%;
		max-width: 300px;
		margin-bottom: 32px;
	}
	&:after {
		content: "";
		position: absolute;
		display: block;
		width: 16px;
		height: 16px;
		top: 8px;
		left: 26px;
		background: url("./../../img/ico/common/attach.svg") no-repeat;
		background-size: 16px;
		@include media("max", "sm") {
			left: 90px;
		}
	}
}
