@import './../../../sass/index.scss';

.event {
	position: relative;
	flex: 1 1;
	max-width: 100%;
	&:not(:last-child) {
	margin-right: 16px;
	}
	@include media("within", "lg") {
		
	}
}

.photo-block {
	position: relative;
	flex: 1 1;
	width: 100%;
	margin-bottom: 24px;
	z-index: 1;
}

.photo-wrap {
	position: relative;
	padding-top: 57.894%;
}

.photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mount {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	filter: blur(15px);
	opacity: 0.8;
	z-index: 0;
}

.title {
	margin-bottom: 8px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

.desc {
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

.lnk, .lnk:link, .lnk:visited {
	text-decoration: none;
	color: $blue1;
}
