@import "./../../../sass/index.scss";

.bar {
	position: absolute;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	border-top: solid 1px $gray5;
	backdrop-filter: blur(10px);
	padding-left: 304px;
	background: rgb(255 255 255 / 0.8);
	@media screen and (max-width: 1919px) {
		padding-left: 40px;
	}
	@include media("within", "lg") {
		justify-content: space-between;
		padding-left: 40px;
	}
	@include media("within", "md") {
		padding-left: 28px;
	}
}

.desc {
	margin-right: 231px;
	font-family: "IBM_Plex_Sans";
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: $gray3;
	@media screen and (max-width: 1919px) {
		margin-right: auto;
	}
	@include media("within", "lg") {
		margin-right: 0;
	}
}

.list {
	display: flex;
	height: 100%;
	div.list__block {
	}
}

.list__block {
	height: 100%;
	&:first-child {
		width: 124px;
		margin-right: 118px;
		background: url("./../../../img/ico/common/2099.svg") no-repeat;
		background-position: center center;
		@include media("within", "md") {
			width: 76px;
			background-size: 76px;
		}
	}
	&:nth-child(2) {
		width: 184px;
		margin-right: 112px;
		background: url("./../../../img/ico/common/clover.svg") no-repeat;
		background-position: center center;
		@include media("within", "md") {
			width: 112px;
			background-size: 112px;
			background-position: center 53%;
		}
	}

	&:nth-child(3) {
		width: 191px;
		margin-right: 102px;
		background: url("./../../../img/ico/common/basic-chain.svg") no-repeat;
		background-position: center 45%;
		@include media("within", "md") {
			width: 117px;
			background-size: 117px;
			background-position: center 50%;
		}
	}
	&:nth-child(4) {
		width: 145px;
		margin-right: 102px;
		background: url("./../../../img/ico/common/ctrlgo.svg") no-repeat;
		background-position: center 60%;
		@include media("within", "md") {
			width: 88px;
			background-size: 88px;
		}
	}
	@include media("within", "lg") {
		&:not(:last-child),
		&:last-child {
			margin-right: 40px;
		}
	}
	@include media("within", "md") {
		&:not(:last-child) {
			margin-right: 32px;
		}
		&:last-child {
			margin-right: 28px;
		}
	}
}
