@import "./../../sass/index.scss";

.wrapper {
	background-color: $pale-black;
}

.feedback-wrap {
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #4d5062;
		z-index: 0;
	}
}

.feedback {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	max-width: 1392px;
	height: 642px;
	margin: 0 auto;
	padding: 100px 0;
	z-index: 2;
	@include media("within", "lg") {
		padding: 56px 40px;
	}

	@include media("max", "md") {
		height: unset;
		padding: 32px 16px;
		overflow: hidden;
	}
}

.title {
	margin-bottom: 32px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	font-feature-settings: "tnum" on, "lnum" on;
	color: #fff;

	@include media("within", "md") {
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
	}
}

.info {
	position: relative;
	max-width: 335px;
	z-index: 150;
	@include media("within", "lg") {
		width: 100%;
		flex: 1 1;
	}
	@include media("within", "md") {
		max-width: 304px;
		padding: 40px 28px 76px;
	}
}

.mount {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 477px;
	z-index: 1;
	@include media("max", "sm") {
		display: none;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1024px;
		height: 100%;
		background: url("./../../img/other/map.jpg") no-repeat;
		background-position: right -700px center;
		z-index: 1;
		@include media("within", "lg") {
			left: -100px;
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1024px;
		height: 100%;
		background: linear-gradient(0deg, $pale-black, 25%, transparent);
		background-repeat: no-repeat;
		z-index: 2;
	}
}

.where-title {
	margin-bottom: 11px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #fff;
}

.address {
	margin-bottom: 37px;
}

.phone {
	margin-bottom: 7px;
}

.mail {
	margin-bottom: 50px;
	@include media("within", "lg") {
		margin-bottom: 124px;
	}
}

.address,
.phone,
.mail {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: #fff;
}

.social__title {
	margin-bottom: 8px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #fff;
}
