@import "./../../sass/index.scss";

.process-find {
	max-width: 1312px;
	margin: 0 auto;
	padding: 155px 0 124px;
	@include media("within", "lg") {
		padding: 80px 40px;
	}
	@include media("within", "md") {
		padding: 40px 28px 70px;
	}
	@include media("max", "sm") {
		padding: 32px 16px;
	}
}

.title {
	margin-bottom: 55px;
	font-family: "Commissioner";
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-feature-settings: "tnum" on, "lnum" on;
	@include media("within", "md") {
		margin-bottom: 12px;
	}
}

.list {
	display: flex;
	justify-content: space-between;
	@include media("max", "md") {
		flex-flow: column wrap;
	}
}

.item {
	max-width: 272px;
	@include media("within", "lg") {
		max-width: 192px;
	}
	@include media("within", "md") {
		display: flex;
		max-width: unset;
		margin-bottom: 16px;
		margin-right: 250px;
	}
	@include media("max", "sm") {
		display: flex;
		max-width: unset;
	}
}

.arrow {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 12px;
	left: -40px;
	filter: sepia(51%);
	opacity: 0.3;

	@include media("max", "md") {
		display: none;
	}
}

.num {
	margin-bottom: 16px;
	font-family: "Commissioner";
	font-style: normal;
	font-size: 80px;
	line-height: 140%;
	display: flex;
	letter-spacing: 0.04em;
	font-feature-settings: "tnum" on, "lnum" on;
	color: $blue1;
	@include media("within", "lg") {
		font-size: 62px;
	}
	@include media("max", "md") {
		display: block;
		width: 45px;
		height: 80px;
		font-size: 62px;
		text-align: center;
	}
}

.desc {
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	opacity: 0.9;
	@include media("max", "md") {
		padding: 20px 0 0 25px;
	}
}
