@import './../../../sass/index.scss';

.tech {
	display: flex;
	flex-flow: row wrap;
	max-width: 672px;
	width: 100%;
	min-height: 193px;
	@include media("within", "lg") {
		min-width: 464px;
		width: auto;
		flex: 1 1;
	}
}

.title {
	
}

.cover {
	position: relative;
	width: 150px;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.photo {
}

.desc {
	display: flex;
	flex-flow: column wrap;
	flex: 1 1;
}

.desc__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	@include media("within", "lg") {
		font-size: 14px;
	}
}

.title {
	margin-bottom: 8px;
	font-family: "Commissioner";
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}
